/* Custom Styles by KBO IT Development
--------------------------------------- */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* Revised by KBO IT Development */
.kboapp-color {
    color: #68b604; /* Green */
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

/* Revised By KBO IT Development */
div.container a.kboapp-brand {
    background: url("../images/5000s-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #68b604; /* Green */
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

footer {  
    width: 100%;
    position: absolute;
    display: block;
    padding: 20px 15px;
    background-color: #340000;
}

p{
    margin: 0px;
}

